.container {
	margin: 0 auto;
	width: 600px;
}

.search {
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}

#inputSearch {
	border: 1px solid #000;
	width: 300px;
	vertical-align: middle;
	height: 30px;
	display: inline-block;
}

#btnSearch {
	background: url(../img/video.svg) no-repeat 0px 0px;
	width: 30px;
	height: 30px;
	border: none;
	margin-top: 8px;
	padding: 0;
	line-height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

.videoMini {
	display: flex;
	width: 560px;
}